@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    line-height: 130%;
}

body {
    width: 100%;
    height: 100vh;
}

/* Scrollbar------------------------------------------------------------------------------------------------ */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #ffffff
}

::-webkit-scrollbar-thumb {
    height: 40px;
    background: #09bc8a;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #004346;
}
/* ------------------------------------------------------------------------------------------------------- */
.cardEdit {
    visibility: hidden;
}

.cardEdit.active {
    visibility: visible;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease, visibility 0s .3s;
}

.cardEdit.active:hover {
    visibility: visible;
    opacity: 1;
}

.showEdition.active {
    overflow-y: auto;
}

.showEdition {
    overflow: hidden;
}

.iconEdit, .iconCheck {
    position: absolute;
}

.iconEdit {
    z-index: 10;
    visibility: visible;
}

.iconEdit.active {
    z-index: 0;
    visibility: hidden;
}

.iconCheck {
    z-index: 0;
    visibility: hidden;
}

.iconCheck.active {
    z-index: 10;
    visibility: visible;
}

.blured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3350px;
    visibility: hidden;
    position: absolute;
}

.blured.active {
    z-index: 10;
    background-color: gray;
    visibility: visible;
    opacity: .6;
    transition: .5s;
}

/* PopUps------------------------------------------------------------------------------------------------ */

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    width: 100%;
}

.popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

.popupSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    width: 100%;
}

.popupSocial.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

.popupEdit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    width: 100%;
}

.popupEdit.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: .5s;
}

.showLinkIn {
    top: 0px;
    left: 96%;
}

.showEdit1,.showEdit2,.showEdit3,.showEdit4 {
    top: 15px;
    right: 18%;
}

.showEdit {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.showEdit.active {
    opacity: 100;
    visibility: visible;
    transition: .3s ease-in-out;
}

.smEditIcon {
    z-index: 1;
}